**Data Collection:** Load and organize data to streamline next steps of the project

This section includes loading the data and joining/merging it.

In [15]:
import os
import pandas as pd

In [16]:
# Load the 2020-2021 player stats data and the 2020 player salary data
per36 = pd.read_csv('nba2021_per36min.csv')
per36.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,PF,21,MIA,28,2,408,6.4,10.8,0.590,...,0.561,3.2,6.7,9.9,1.5,1.1,1.3,2.6,4.8,16.0
1,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,0.000,0.0,6.4,6.4,4.2,0.0,0.0,0.0,2.1,4.2
2,Steven Adams,C,27,NOP,27,27,760,4.5,7.4,0.603,...,0.468,5.5,5.8,11.3,2.7,1.2,0.7,2.2,2.4,10.3
3,Bam Adebayo,C,23,MIA,26,26,873,7.9,13.8,0.573,...,0.841,2.1,7.8,9.9,5.7,1.0,1.1,3.2,2.8,21.4
4,LaMarcus Aldridge,C,35,SAS,18,18,480,8.0,16.9,0.476,...,0.762,1.1,4.7,5.9,2.6,0.5,1.2,1.2,2.0,19.0

In [17]:
# Load the 2020 player salary data
salary = pd.read_csv('NBA Players Salaries 2020.csv')
salary.head()

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul\paulch01,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook\westbru01,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall\walljo01,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden\hardeja01,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $

In [18]:
# Remove the extra text in the 'Player' column of the salary data.  Even though it appears there is only one
# '\' there are actually two if a single value is printed out as a test 
salary['Player'] = salary['Player'].str.split('\\').str[0]
salary.head()

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $

In [19]:
# Merge the two dataframes on the 'Player' column, keeping only the rows that have a matching 'Player' value
df = pd.merge(per36, salary, on='Player')
df.head()

,Player,Pos,Age,Tm_x,G,GS,MP,FG,FGA,FG%,...,Rk,Tm_y,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,531,POR,163356.00 $,NaN,NaN,NaN,NaN,NaN,Minimum Salary,163356.00 $
1,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,544,ATL,100000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,100000.00 $
2,Steven Adams,C,27,NOP,27,27,760,4.5,7.4,0.603,...,41,OKC,25842697.00 $,27528090.00 $,NaN,NaN,NaN,NaN,1st Round Pick,53370787.00 $
3,Bam Adebayo,C,23,MIA,26,26,873,7.9,13.8,0.573,...,253,MIA,3454080.00 $,5115492.00 $,NaN,NaN,NaN,NaN,1st Round Pick,8569572.00 $
4,LaMarcus Aldridge,C,35,SAS,18,18,480,8.0,16.9,0.476,...,40,SAS,26000000.00 $,24000000.00 $,NaN,NaN,NaN,NaN,Cap Space,50000000.00 $

**Data Cleaning:** Clean up the data in order to prepare it for the next steps of the project.

This section will take care of null or missing values and any duplicates

Post Merge Observations

The per36 statistics take a player's actual statistics and adjust them to show what would be expected
if the player played 36 minutes in a game.  Because of this, the number of games (G) and minutes played (MP) are not
necessary.

In addition, there are a lot of NaN values for salaries past 2019-20.  Since players tend to sign short term contracts, many will have to re-sign a new contract in the future and thus there is no data for what they will be earning.  Since there is uncertainty and many missing values, salaries after 2019-20 can be removed.

There are two team columns (Tm_x and Tm_y), some matching and others not.  Since the data was not collected at exactly the same time this is somewhat expected.  Many trades and free agent signings occur in the NBA each season so a player may end up playing for multiple teams in the same season.  It will be assumed that a player's ability does not change significantly based on what teamt they play for.  However, the salary a player earns may change based on what team they play for (smaller markets may pay less, bigger markets may pay more).  At this point it is unproven but the team from the salary database will be used since there may be a correlation between team and salary.  This is something that can be investigated later.

Lastly, the Rk column was brought over from the salary dataframe and was a ranking of highest to lowest salary.  This information is not necessary in the dataframe since we can simply sort by salary to get the same result.

In [20]:
# Drop unecessary columns and rename Tm_y to 'Team'
df['Team'] = df['Tm_y']
df = df.drop(['G', 'MP', 'Tm_x', 'Tm_y', 'Rk', '2020-21', '2021-22', '2022-23', '2023-24', '2024-25'], axis=1)
df.head()

,Player,Pos,Age,GS,FG,FGA,FG%,3P,3PA,3P%,...,AST,STL,BLK,TOV,PF,PTS,2019-20,Signed Using,Guaranteed,Team
0,Jaylen Adams,PG,24,0,2.1,16.9,0.125,0.0,4.2,0.000,...,4.2,0.0,0.0,0.0,2.1,4.2,163356.00 $,Minimum Salary,163356.00 $,POR
1,Jaylen Adams,PG,24,0,2.1,16.9,0.125,0.0,4.2,0.000,...,4.2,0.0,0.0,0.0,2.1,4.2,100000.00 $,NaN,100000.00 $,ATL
2,Steven Adams,C,27,27,4.5,7.4,0.603,0.0,0.0,0.000,...,2.7,1.2,0.7,2.2,2.4,10.3,25842697.00 $,1st Round Pick,53370787.00 $,OKC
3,Bam Adebayo,C,23,26,7.9,13.8,0.573,0.1,0.2,0.400,...,5.7,1.0,1.1,3.2,2.8,21.4,3454080.00 $,1st Round Pick,8569572.00 $,MIA
4,LaMarcus Aldridge,C,35,18,8.0,16.9,0.476,1.8,5.0,0.358,...,2.6,0.5,1.2,1.2,2.0,19.0,26000000.00 $,Cap Space,50000000.00 $,SAS

In [21]:
# Check for missing values in the new dataframe
null_data = df[df.isnull().any(axis=1)]
print(null_data)

                      Player Pos  Age  GS   FG   FGA    FG%   3P  3PA    3P%  \
1               Jaylen Adams  PG   24   0  2.1  16.9  0.125  0.0  4.2  0.000
31               Jordan Bell   C   26   1  3.6  10.8  0.333  0.0  1.4  0.000
43            Marques Bolden   C   22   0  1.2   3.7  0.333  0.0  0.0  0.000
48             Avery Bradley  SG   30   1  5.3  11.3  0.470  2.7  6.5  0.421
61                Trey Burke  PG   28   0  6.1  13.8  0.444  2.8  7.0  0.396
73           Marquese Chriss  PF   23   0  6.7  18.7  0.357  1.3  6.7  0.200
75                Gary Clark  SF   26  11  2.0   6.7  0.294  1.5  5.7  0.264
77                Gary Clark  SF   26  11  2.0   6.7  0.294  1.5  5.7  0.264
84          DeMarcus Cousins   C   30  11  5.6  14.9  0.376  2.8  8.3  0.336
122              Tim Frazier  PG   30   0  2.2   8.7  0.250  0.0  2.2  0.000
145               Jeff Green  PF   34  13  4.8   9.5  0.505  2.2  5.1  0.427
147               Jeff Green  PF   34  13  4.8   9.5  0.505  2.2  5.1  0.427
160       Isaiah Hartenstein   C   22   0  6.9  12.6  0.545  0.0  0.0  0.000
168              George Hill  PG   34  14  6.0  11.7  0.508  2.1  5.6  0.386
178            Dwight Howard   C   35   4  4.5   8.2  0.555  0.2  0.6  0.375
192           Reggie Jackson  SG   30  14  5.4  12.7  0.427  2.0  5.9  0.348
200            Tyler Johnson  SG   28   1  4.8  10.6  0.447  3.4  7.2  0.469
238  Timothé Luwawu-Cabarrot  SF   25   5  4.8  11.8  0.404  2.7  7.5  0.366
254         Alfonzo McKinnie  SF   28   0  8.2  13.1  0.625  2.5  4.1  0.600
255         Alfonzo McKinnie  SF   28   0  8.2  13.1  0.625  2.5  4.1  0.600
271          Markieff Morris  PF   31   2  3.7   9.5  0.387  2.0  6.3  0.323
275            Mychal Mulder  PG   26   1  4.8  10.0  0.476  3.8  8.6  0.444
288              David Nwaba  SF   28   9  5.2  10.8  0.482  0.9  3.4  0.264
304        Patrick Patterson  PF   31   1  4.4  10.5  0.421  2.8  7.8  0.357
307            Cameron Payne  PG   26   0  5.4  11.7  0.461  2.0  5.0  0.395
320           Chasson Randle   G   27   0  1.9   7.6  0.250  0.0  3.8  0.000
355                Max Strus  SF   24   0  6.3  12.1  0.519  4.1  9.8  0.422
383              Paul Watson  SF   26   0  7.7  12.0  0.643  6.9  9.4  0.727

     ...  AST  STL  BLK  TOV   PF   PTS        2019-20  Signed Using  \
1    ...  4.2  0.0  0.0  0.0  2.1   4.2    100000.00 $           NaN
31   ...  3.6  0.7  2.2  2.2  2.9   7.2   1620564.00 $           NaN
43   ...  0.0  2.5  2.5  2.5  0.0   8.7     50752.00 $           NaN
48   ...  2.4  1.2  0.2  1.5  4.4  14.5   2000000.00 $           NaN
61   ...  3.3  1.6  0.2  1.2  3.1  16.8   2028594.00 $           NaN
73   ...  2.7  0.0  2.7  2.7  4.0  17.3    758804.00 $           NaN
75   ...  1.6  0.6  0.3  1.0  1.9   5.9    708426.00 $           NaN
77   ...  1.6  0.6  0.3  1.0  1.9   5.9    163356.00 $           NaN
84   ...  4.3  1.5  1.3  2.8  5.3  17.1   3500000.00 $           NaN
122  ...  7.6  1.1  0.0  3.3  4.4   4.4   1882867.00 $           NaN
145  ...  2.0  0.9  0.4  1.1  2.7  13.5   2564753.00 $           NaN
147  ...  2.0  0.9  0.4  1.1  2.7  13.5    144901.00 $           NaN
160  ...  2.3  1.6  3.0  3.2  8.9  17.4   1416852.00 $           NaN
168  ...  4.2  1.2  0.2  1.2  1.2  16.1   1000000.00 $           NaN
178  ...  1.4  0.9  1.9  4.0  6.8  12.7   3039097.00 $           NaN
192  ...  5.6  1.2  0.2  1.7  3.3  14.8  17286956.00 $           NaN
200  ...  2.5  0.9  0.0  0.9  1.8  13.4  19245370.00 $           NaN
238  ...  2.3  1.2  0.3  1.3  2.9  13.4    189702.00 $           NaN
254  ...  0.8  0.8  0.0  0.8  3.3  20.5    708871.00 $           NaN
255  ...  0.8  0.8  0.0  0.8  3.3  20.5    183114.00 $           NaN
271  ...  2.0  0.4  0.6  1.2  3.5  10.7   2241808.00 $           NaN
275  ...  1.4  0.7  0.7  0.6  3.2  14.1     50752.00 $           NaN
288  ...  1.7  1.7  1.2  1.0  3.2  13.5   1678854.00 $           NaN
304  ...  1.4  0.8  0.3  1.9  3.6  12.5    737067.00 $           NaN
307  ...  7.6  1.2  0.4  2.5  4.3  13.9    150000.00 $           NaN
320  ...  9.5  0.0  0.0  1.9  7.6   3.8     91557.00 $           NaN
355  ...  1.2  0.3  0.0  0.5  2.9  17.8    415414.00 $           NaN
383  ...  1.7  0.0  1.7  0.9  6.0  22.3     50752.00 $           NaN

        Guaranteed  Team
1      100000.00 $   ATL
31    1620564.00 $   MEM
43      50752.00 $   CLE
48    2000000.00 $   MEM
61    2028594.00 $   PHI
73    2213272.00 $   GSW
75     708426.00 $   HOU
77     718765.00 $   ORL
84    3500000.00 $   LAL
122   1882867.00 $   DET
145   2564753.00 $   UTA
147    840427.00 $   HOU
160   1416852.00 $   HOU
168  21000000.00 $   MIL
178   3039097.00 $   MEM
192  17286956.00 $   DET
200  19245370.00 $   PHO
238    844170.00 $   BRK
254   2253031.00 $   CLE
255   2253031.00 $   CLE
271   2241808.00 $   DET
275    238534.00 $   GSW
288   1678854.00 $   BRK
304   2211200.00 $   OKC
307    150000.00 $   TOR
320     91557.00 $   GSW
355    415414.00 $   BOS
383     50752.00 $   ATL

[28 rows x 29 columns]

It appears that all the missing data is in the 'Signed Using' column.  This information may be useful for the players that have the information filled out different types of contracts (rookie, cap space, max, super max, etc.) affect how much a player earns.  Once the model is made that can be investigated further, but for now the NaN values can be replaced by 'Unknown'.

In [22]:
# Replace the missing values in the 'Signed Using' column with 'Unknown'
df['Signed Using'] = df['Signed Using'].fillna('Unknown')
null_data = df[df.isnull().any(axis=1)]
print(null_data)

Empty DataFrame
Columns: [Player, Pos, Age, GS, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, 2019-20, Signed Using, Guaranteed, Team]
Index: []

[0 rows x 29 columns]

In [23]:
# Create 5 new dataframes to separate players by position.  This will help later when investigating what affects salary.
PG = df[df['Pos'] == 'PG']
SG = df[df['Pos'] == 'SG']
SF = df[df['Pos'] == 'SF']
PF = df[df['Pos'] == 'PF']
C = df[df['Pos'] == 'C']

print(PG.head(), SG.head(), SF.head(), PF.head(), C.head())

              Player Pos  Age  GS   FG   FGA    FG%   3P  3PA    3P%  ...  \
0       Jaylen Adams  PG   24   0  2.1  16.9  0.125  0.0  4.2  0.000  ...
1       Jaylen Adams  PG   24   0  2.1  16.9  0.125  0.0  4.2  0.000  ...
16  Ryan Arcidiacono  PG   26   0  3.0   8.1  0.375  2.0  5.4  0.375  ...
17     D.J. Augustin  PG   33   0  3.4  10.3  0.336  2.4  6.6  0.364  ...
20        Lonzo Ball  PG   23  25  6.0  14.2  0.424  3.4  8.8  0.381  ...

    AST  STL  BLK  TOV   PF   PTS       2019-20    Signed Using  \
0   4.2  0.0  0.0  0.0  2.1   4.2   163356.00 $  Minimum Salary
1   4.2  0.0  0.0  0.0  2.1   4.2   100000.00 $         Unknown
16  5.7  1.0  0.0  0.7  3.4   9.4  3000000.00 $       Cap space
17  6.1  1.0  0.1  1.6  1.4  11.8  7250000.00 $       Cap Space
20  5.5  1.4  0.6  2.4  2.9  16.3  8719320.00 $  1st Round Pick

       Guaranteed  Team
0     163356.00 $   POR
1     100000.00 $   ATL
16   6000000.00 $   CHI
17   7250000.00 $   ORL
20  19723102.00 $   NOP

[5 rows x 29 columns]                       Player Pos  Age  GS    FG   FGA    FG%   3P  3PA    3P%  \
5   Nickeil Alexander-Walker  SG   22   3   6.3  15.3  0.410  2.0  7.1  0.276
6              Grayson Allen  SG   25   8   4.8  11.1  0.429  3.5  8.0  0.436
19              Dwayne Bacon  SG   25  20   5.9  13.9  0.423  1.5  4.1  0.373
22                RJ Barrett  SG   20  30   6.7  15.5  0.428  1.1  3.6  0.304
29              Bradley Beal  SG   27  24  11.6  24.6  0.473  2.6  7.6  0.337

    ...  AST  STL  BLK  TOV   PF   PTS        2019-20    Signed Using  \
5   ...  3.8  2.0  0.7  2.4  3.3  16.6   2964840.00 $  1st Round Pick
6   ...  3.1  1.5  0.2  1.6  1.9  15.6   2429400.00 $  1st Round Pick
19  ...  1.5  1.1  0.1  1.0  2.4  15.5   1618520.00 $             MLE
22  ...  3.3  0.8  0.2  2.0  2.6  17.6   7839960.00 $  1st Round Pick
29  ...  4.8  1.4  0.5  3.2  2.6  33.4  27093019.00 $       Cap Space

       Guaranteed  Team
5    6078000.00 $   NOP
6    4974720.00 $   MEM
19   1618520.00 $   CHO
22  16071720.00 $   NYK
29  90346924.00 $   WAS

[5 rows x 29 columns]                     Player Pos  Age  GS   FG   FGA    FG%   3P  3PA    3P%  \
13  Thanasis Antetokounmpo  SF   28   0  4.1   6.3  0.654  0.5  1.7  0.286
15              OG Anunoby  SF   23  18  5.3  10.8  0.489  2.6  5.9  0.431
23             Will Barton  SF   30  21  5.3  12.1  0.436  1.9  4.8  0.404
24        Keita Bates-Diop  SF   25   0  0.0  12.0  0.000  0.0  5.3  0.000
25           Nicolas Batum  SF   32  27  4.0   8.2  0.492  2.5  5.6  0.456

    ...  AST  STL  BLK  TOV   PF   PTS        2019-20    Signed Using  \
13  ...  3.6  1.2  0.7  3.6  6.0   9.7   1445697.00 $  Minimum Salary
15  ...  1.6  2.1  0.6  1.8  3.1  15.2   2281800.00 $  1st Round Pick
23  ...  3.9  1.0  0.5  1.8  2.2  14.1  12960000.00 $     Bird Rights
24  ...  2.7  1.3  0.0  0.0  0.0   6.7   1416852.00 $             MLE
25  ...  2.8  1.7  0.4  0.8  2.1  11.7  25565217.00 $       Cap Space

       Guaranteed  Team
13   3147290.00 $   MIL
15   6154015.00 $   TOR
23  26880000.00 $   DEN
24   1416852.00 $   DEN
25  25565217.00 $   CHO

[5 rows x 29 columns]                    Player Pos  Age  GS    FG   FGA    FG%   3P  3PA    3P%  \
10        Al-Farouq Aminu  PF   30   0   2.3   2.3  1.000  2.3  2.3  1.000
11          Kyle Anderson  PF   27  24   6.4  13.7  0.467  2.1  5.5  0.388
12  Giannis Antetokounmpo  PF   26  27  11.1  19.7  0.563  1.2  4.3  0.290
14        Carmelo Anthony  PF   36   3   6.6  16.7  0.396  2.4  6.4  0.377
21        Harrison Barnes  PF   28  27   5.4  11.2  0.480  1.7  4.4  0.388

    ...  AST  STL  BLK  TOV   PF   PTS        2019-20    Signed Using  \
10  ...  4.5  0.0  0.0  4.5  0.0   6.8   9258000.00 $             MLE
11  ...  4.9  1.4  1.0  1.8  2.3  17.6   9073050.00 $             MLE
12  ...  6.2  1.4  1.4  3.9  3.3  30.2  25842697.00 $  1st Round Pick
14  ...  1.8  1.1  1.1  1.3  3.0  19.0   2159029.00 $  Minimum Salary
21  ...  3.5  0.8  0.2  1.4  1.2  16.2  24147727.00 $     Bird Rights

       Guaranteed  Team
10  29162700.00 $   ORL
11  28515300.00 $   MEM
12  53370787.00 $   MIL
14   2159029.00 $   POR
21  85000000.00 $   SAC

[5 rows x 29 columns]               Player Pos  Age  GS   FG   FGA    FG%   3P  3PA    3P%  ...  \
2       Steven Adams   C   27  27  4.5   7.4  0.603  0.0  0.0  0.000  ...
3        Bam Adebayo   C   23  26  7.9  13.8  0.573  0.1  0.2  0.400  ...
4  LaMarcus Aldridge   C   35  18  8.0  16.9  0.476  1.8  5.0  0.358  ...
7      Jarrett Allen   C   22  10  6.0   9.3  0.642  0.0  0.2  0.250  ...
8      Jarrett Allen   C   22   5  5.0   7.3  0.677  0.0  0.0  0.000  ...

   AST  STL  BLK  TOV   PF   PTS        2019-20    Signed Using  \
2  2.7  1.2  0.7  2.2  2.4  10.3  25842697.00 $  1st Round Pick
3  5.7  1.0  1.1  3.2  2.8  21.4   3454080.00 $  1st Round Pick
4  2.6  0.5  1.2  1.2  2.0  19.0  26000000.00 $       Cap Space
7  2.2  0.6  2.3  2.1  2.2  16.9   2376840.00 $  1st Round Pick
8  2.3  0.8  2.1  2.5  2.4  15.1   2376840.00 $  1st Round Pick

      Guaranteed  Team
2  53370787.00 $   OKC
3   8569572.00 $   MIA
4  50000000.00 $   SAS
7   6286742.00 $   BRK
8   6286742.00 $   BRK

[5 rows x 29 columns]

Since the affect of which city/franchise a player plays in is likely to affect their salary, data about franchise valuations needs to be pulled.  Data was taken from a Forbes article at https://www.forbes.com/sites/kurtbadenhausen/2021/02/10/nba-team-values-2021-knicks-keep-top-spot-at-5-billion-warriors-bump-lakers-for-second-place/?sh=85035f5645b7

In [24]:
# Create new dataframe where information will eventually be stored
market = pd.DataFrame()

# Create a dictionary with the team as the key and the franchise value as the value, shown in Billions of Dollars.
dict = {'MEM':1.3, 'NOP':1.35, 'MIN':1.4, 'DET':1.45, 'ORL':1.46,
       'CHO':1.5, 'ATL':1.52, 'IND':1.55, 'CLE':1.56, 'OKC':1.575, 
       'MIL':1.625, 'DEN':1.65, 'UTA':1.66, 'PHO':1.7, 'WAS':1.8, 
       'SAC':1.825, 'SAS':1.85, 'POR':1.9, 'MIA':2, 'PHI':2.075, 
       'TOR':2.15, 'DAL':2.45, 'HOU':2.5, 'BRK':2.65, 'LAC':2.75, 
       'BOS':3.2, 'CHI':3.3, 'LAL':4.6, 'GSW':4.7, 'NYK':5}

print(market, dict)

Empty DataFrame
Columns: []
Index: [] {'MEM': 1.3, 'NOP': 1.35, 'MIN': 1.4, 'DET': 1.45, 'ORL': 1.46, 'CHO': 1.5, 'ATL': 1.52, 'IND': 1.55, 'CLE': 1.56, 'OKC': 1.575, 'MIL': 1.625, 'DEN': 1.65, 'UTA': 1.66, 'PHO': 1.7, 'WAS': 1.8, 'SAC': 1.825, 'SAS': 1.85, 'POR': 1.9, 'MIA': 2, 'PHI': 2.075, 'TOR': 2.15, 'DAL': 2.45, 'HOU': 2.5, 'BRK': 2.65, 'LAC': 2.75, 'BOS': 3.2, 'CHI': 3.3, 'LAL': 4.6, 'GSW': 4.7, 'NYK': 5}

In [25]:
# Add the information from the dictionary to the market dataframe
market = market.append(dict, ignore_index=True)
market = market.T
market.reset_index(inplace = True, drop = False)
market.columns = ['Team', 'Team_Value']
market.head()

  Team  Team_Value
0  ATL        1.52
1  BOS        3.20
2  BRK        2.65
3  CHI        3.30
4  CHO        1.50

In [26]:
# Get some basic stats for the team values
mean = market['Team_Value'].mean()
med = market['Team_Value'].median()
cut_25 = market.Team_Value.quantile(0.25)
cut_75 = market.Team_Value.quantile(0.75)

print('The mean is ' + str(mean) + ' billion dollars')
print('The median is ' + str(med) + ' billion dollars')
print('50% of teams are valued between ' + str(cut_25) + ' and ' + str(cut_75) + ' billion dollars')

The mean is 2.201666666666667 billion dollars
The median is 1.8125 billion dollars
50% of teams are valued between 1.5525 and 2.4875 billion dollars

In [27]:
# Add a column so that the teams can easily be grouped based on value during exploration
size = []

for value in market['Team_Value']:
    if value < cut_25:
        size.append('small')
    elif value <= cut_75:
        size.append('medium')
    else:
        size.append('large')
        
market['Market Size'] = size
market = market.sort_values('Market Size')
print(market)

   Team  Team_Value Market Size
10  HOU       2.500       large
1   BOS       3.200       large
2   BRK       2.650       large
3   CHI       3.300       large
19  NYK       5.000       large
9   GSW       4.700       large
13  LAL       4.600       large
12  LAC       2.750       large
23  PHO       1.700      medium
24  POR       1.900      medium
16  MIL       1.625      medium
15  MIA       2.000      medium
28  UTA       1.660      medium
29  WAS       1.800      medium
20  OKC       1.575      medium
26  SAS       1.850      medium
7   DEN       1.650      medium
6   DAL       2.450      medium
5   CLE       1.560      medium
27  TOR       2.150      medium
25  SAC       1.825      medium
22  PHI       2.075      medium
0   ATL       1.520       small
18  NOP       1.350       small
17  MIN       1.400       small
11  IND       1.550       small
8   DET       1.450       small
4   CHO       1.500       small
21  ORL       1.460       small
14  MEM       1.300       small

In [28]:
# Merge the market dataframe with the main dataframe
df = pd.merge(df, market, on='Team')
df = df.sort_values('Player')
df.head()

,Player,Pos,Age,GS,FG,FGA,FG%,3P,3PA,3P%,...,BLK,TOV,PF,PTS,2019-20,Signed Using,Guaranteed,Team,Team_Value,Market Size
118,Aaron Gordon,PF,25,19,5.9,13.9,0.427,2.0,5.5,0.369,...,1.0,3.5,2.5,17.1,19863636.00 $,Bird Rights,54409091.00 $,ORL,1.460,small
277,Aaron Holiday,PG,24,6,5.1,13.7,0.370,1.9,5.8,0.333,...,0.2,1.4,3.1,13.4,2239200.00 $,1st Round Pick,4584840.00 $,IND,1.550,small
31,Abdel Nader,SF,27,0,6.5,13.0,0.500,2.1,5.2,0.400,...,0.2,1.7,2.7,18.0,1618520.00 $,Cap Space,1618520.00 $,OKC,1.575,medium
364,Al Horford,C,34,19,7.5,16.6,0.453,2.8,7.1,0.390,...,1.1,1.6,2.2,18.7,28000000.00 $,Cap Space,97000000.00 $,PHI,2.075,medium
109,Al-Farouq Aminu,PF,30,0,2.3,2.3,1.000,2.3,2.3,1.000,...,0.0,4.5,0.0,6.8,9258000.00 $,MLE,29162700.00 $,ORL,1.460,small